<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="" class="flex mr-auto">
            <img alt="Purchasing system image" class="w-6" src="assets/images/logo.svg">
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90" appFeatherIcon></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">
        <li>
            <a href="/order" class="menu">
                <div class="menu__icon"> <i data-feather="box" appFeatherIcon></i> </div>
                <div class="menu__title"> Order </div>
            </a>
        </li>
        <li>
            <a href="/history" class="menu">
                <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                <div class="menu__title"> History </div>
            </a>
        </li>
        <li>
            <a href="/item" class="menu">
                <div class="menu__icon"> <i data-feather="database" appFeatherIcon></i> </div>
                <div class="menu__title"> Items </div>
            </a>
        </li>
    </ul>
</div>
<!-- END: Mobile Menu -->
<app-header></app-header>
<!-- BEGIN: Top Menu -->
<nav class="top-nav">
    <ul>
        <li>
            <a routerLink="/order" class="top-menu {{globalService.menu == 'order' ? 'top-menu--active' : ''}}">
                <div class="top-menu__icon"> <i data-feather="box" appFeatherIcon></i> </div>
                <div class="top-menu__title"> Order </div>
            </a>
        </li>
        <li>
            <a routerLink="/history" class="top-menu {{globalService.menu == 'history' ? 'top-menu--active' : ''}}">
                <div class="top-menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                <div class="top-menu__title"> History </div>
            </a>
        </li>
        <li>
            <a routerLink="/item" class="top-menu {{globalService.menu == 'item' ? 'top-menu--active' : ''}}">
                <div class="top-menu__icon"> <i data-feather="database" appFeatherIcon></i> </div>
                <div class="top-menu__title"> Items </div>
            </a>
        </li>
    </ul>
</nav>
<!-- END: Top Menu -->
