<app-menu></app-menu>
<div class="content">
  <div class="intro-y flex flex-col sm:flex-row items-center mt-5">
    <h2 class="text-lg font-medium mr-auto">
      Order item
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
      <a href="javascript:;" data-toggle="modal" data-target="#new-order-modal" class="button text-white bg-theme-1 shadow-md mr-2" (click)="generate_po_number()">
        New Order
      </a>
      <div class="pos-dropdown dropdown relative ml-auto sm:ml-0">
        <button class="dropdown-toggle button px-2 box text-gray-700">
        <span class="w-5 h-5 flex items-center justify-center"> <i class="w-4 h-4" data-feather="chevron-down" appFeatherIcon></i> </span>
        </button>
        <div class="pos-dropdown__dropdown-box dropdown-box mt-10 absolute top-0 right-0 z-20">
          <div class="dropdown-box__content box p-2">
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="archive" class="w-4 h-4 mr-2"></i> <span class="truncate">Export CSV</span> </a>
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="database" class="w-4 h-4 mr-2"></i> <span class="truncate">Export xlsx</span> </a>
            <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="book" class="w-4 h-4 mr-2"></i> <span class="truncate">Export PDF</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pos intro-y grid grid-cols-12 gap-5 mt-2">
    <!-- BEGIN: Item List -->
    <div class="intro-y col-span-12 lg:col-span-8">
      <div class="flex intro-y">
        <div class="relative text-gray-700">
          <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search item...">
          <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search" appFeatherIcon></i>
        </div>
        <select class="input input--lg box lg:mt-0 ml-auto">
          <option>Sort By</option>
          <option>A to Z</option>
          <option>Z to A</option>
          <option>Lowest Price</option>
          <option>Highest Price</option>
        </select>
        <div class="box p-2 ml-2 sm:hide">
          <div class="w-20 flex justify-around items-center h-full item-layout-style">
            <a class="{{item_display_style == 'list' ? 'active' : ''}}" (click)="item_display_style_change('list')"><i class="h-5" data-feather="list" appFeatherIcon></i></a>
            <a class="{{item_display_style == 'grid' ? 'active' : ''}}" (click)="item_display_style_change('grid')"><i class="h-5" data-feather="grid" appFeatherIcon></i></a>
          </div>
        </div>
      </div>
      <div *ngIf="item_display_style == 'list'" class="p-0 mt-2" style="max-height: 65vh; overflow: auto;">
        <div *ngFor="let item of globalService.items; index as idx">
          <a *ngIf="item.status == 'true'" href="javascript:;" data-toggle="modal" data-target="#add-item-modal" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-3">
            <div class="relative flex items-center box p-2 mt-2" (click)="select_item(item)">
              <div class="w-12 h-12 flex-none image-fit">
                <img alt="Purchasing system image" class="rounded-full" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
              </div>
              <div class="ml-4 mr-auto">
                <a class="font-medium">{{item.vendor_description}} ({{item.description}})</a>
                <div class="mr-5 sm:mr-5">
                  <span class="text-gray-600">{{ item.packing_info }}, </span>
                  <span class="text-gray-600 ml-2">Max order qty: {{ item.moq }} {{item.uom}}{{item.moq==1 ? '':'s'}}</span>
                </div>
              </div>
              <div class="font-medium text-gray-700">${{item.cost}} / {{item.uom}}</div>
            </div>
          </a>
        </div>
      </div>
      <div *ngIf="item_display_style == 'grid'" class="grid grid-cols-12 gap-5 mt-2 pt-5 border-t border-theme-5" style="max-height: 65vh; overflow: auto;">
        <div *ngFor="let item of globalService.items; index as idx" class="intro-y block col-span-12 sm:col-span-4 xxl:col-span-2">
          <a *ngIf="item.status == 'true'" href="javascript:;" data-toggle="modal" data-target="#add-item-modal" >
            <div class="box rounded-md p-3 relative zoom-in" (click)="select_item(item)">
              <div class="flex-none pos-image relative block">
                <div class="pos-image__preview image-fit">
                  <img alt="Purchasing system image" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
                </div>
              </div>
              <div class="block font-medium text-center truncate mt-3">{{item.vendor_description}} ({{item.description}})</div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- END: Item List -->
    <!-- BEGIN: Ticket -->
    <div class="col-span-12 lg:col-span-4">
      <div class="intro-y pr-1">
        <div class="box p-2">
          <div class="pos__tabs nav-tabs justify-center flex">
            <a *ngIf="ticket_created" data-toggle="tab" data-target="#ticket" href="javascript:;" class="flex-1 py-2 rounded-md text-center active">PO Ticket</a>
            <a data-toggle="tab" data-target="#details" href="javascript:;" class="flex-1 py-2 rounded-md text-center {{ticket_created ? '' : 'active'}}">My orders</a>
          </div>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-content__pane {{ticket_created ? 'active' : ''}}" id="ticket">
          <div class="pos__ticket box p-2 mt-2">
            <h6 class="text-base font-medium leading-none ml-2 mt-2 mb-2">{{ordered_item.length != 0 ? 'Ordered items:' : 'Please order items'}}</h6>
            <a *ngFor="let item of ordered_item; index as idx;" (click)="select_ordered_item(item)" href="javascript:;" data-toggle="modal" data-target="#edit-item-modal" class="flex items-center p-3 cursor-pointer transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md">
            <div class="pos__ticket__item-name truncate mr-1">{{item.vendor_description}} ({{item.description}})</div>
            <div class="text-gray-600">x {{item.ordered_qty}} {{item.uom}}{{item.ordered_qty==1 ? '' : 's'}}</div>
            <i data-feather="edit" class="w-4 h-4 text-gray-600 ml-2" appFeatherIcon></i>
            <div class="ml-auto">Sub total: {{item.cost * item.ordered_qty | currency}}</div>
            </a>
          </div>
          <div class="box p-5 mt-5">
            <div class="flex">
              <div class="mr-auto">Total</div>
              <div>{{sum_total_price() | currency}}</div>
            </div>
            <div class="flex mt-4 pt-4 border-t border-gray-200">
              <div class="mr-auto font-medium text-base">Charge</div>
              <div class="font-medium text-base">{{sum_total_price() | currency}}</div>
            </div>
          </div>
          <div class="flex mt-5">
            <button class="button w-32 border border-gray-400 text-gray-600" (click)="clear_ordered_items()">Clear Items</button>
            <a class="button w-32 text-white bg-theme-1 shadow-md ml-auto" href="javascript:;" data-toggle="modal" data-target="#place-order-modal">Order</a>
          </div>
        </div>
        <div class="tab-content__pane {{!ticket_created ? 'active' : ''}}" id="details">
          <div class="box p-2 mt-2">
            <h6 class="text-base font-medium leading-none ml-2 mt-2 mb-2">{{orders.length != 0 ? 'Orders:' : 'You have no orders yet. Please start ordering.'}}</h6>
            <div *ngFor="let item of orders; index as idx;" class="intro-y" (click)="edit_order(item)">
            <div class="flex items-center p-3 cursor-pointer transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md">
              <div class="w-20 overflow-hidden">
                <div class="flex">
                  <div *ngFor="let _item of item.items; index as _idx" class="w-10 h-10 image-fit zoom-in {{_idx == 0 ? '' : '-ml-5'}}">
                    <img alt="Purchasing system image" class="tooltip rounded-full" src="{{ _item.image ? _item.image : 'assets/images/place_holder.png' }}">
                  </div>
                </div>
              </div>
              <div class="ml-4 mr-auto">
                <div class="font-medium">{{item.po_id}}</div>
                <div class="text-gray-600 text-xs">{{item.po_date}}
                  <span class="text-theme-1 ml-3">{{item.items.length != 1 ? item.items.length + ' items ordered.' : item.items.length + ' item ordered.'}}</span>
                  <span class="ml-3">Total: <span class="text-theme-9">{{item.charge | currency}}</span></span>
                </div>
              </div>
              <div class="py-1 px-2 rounded-full text-xs bg-theme-{{item.status != 'pending' ? '9' : '12'}} text-white cursor-pointer font-medium">{{item.status}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Ticket -->
</div>
<!-- BEGIN: New Order Modal -->
<div class="modal" id="new-order-modal">
  <div class="modal__content">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
      <h2 class="font-medium text-base mr-auto">
        New Order
      </h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
      <div class="col-span-12">
        <label>Name</label>
        <input type="text" class="input w-full border mt-2 flex-1" placeholder="Customer name" value="David" disabled>
      </div>
      <div class="col-span-12">
        <label>PO number</label>
        <input type="text" class="input w-full border mt-2 flex-1" placeholder="Purchase order number" value="{{po_number}}" disabled>
      </div>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200">
      <button type="button" data-dismiss="modal" class="button w-32 border text-gray-700 mr-1">Cancel</button>
      <button type="button" data-dismiss="modal" class="button w-32 bg-theme-1 text-white" (click)="create_ticket()">Create Ticket</button>
    </div>
  </div>
</div>
<!-- END: New Order Modal -->
<!-- BEGIN: Add Item Modal -->
<div class="modal" id="add-item-modal">
  <div class="modal__content">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
      <h2 class="font-medium text-base mr-auto">
        {{selected_item ? (selected_item['vendor_description'] + ' (' + selected_item['description'] + ')' ) : ''}}
      </h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
      <div class="col-span-12">
        <label>Quantity({{selected_item ? selected_item['uom'] : ''}})</label>
        <div class="flex mt-2 flex-1">
          <button type="button" class="button w-12 border bg-gray-200 text-gray-600 mr-1" (click)="decrease_selected_item()">-</button>
          <input type="number" class="input w-full border text-center" placeholder="Item quantity" value="{{selected_item ? selected_item['added_qty'] : ''}}" (change)="added_qty_change($event)">
          <button type="button" class="button w-12 border bg-gray-200 text-gray-600 ml-1" (click)="increase_selected_item()">+</button>
        </div>
      </div>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200">
      <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</button>
      <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white" (click)="order_item()">Add Item</button>
    </div>
  </div>
</div>
<!-- END: Add Item Modal -->
<!-- BEGIN: Edit Item Modal -->
<div class="modal" id="edit-item-modal">
  <div class="modal__content">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
      <h2 class="font-medium text-base mr-auto">
        {{selected_ordered_item ? (selected_ordered_item['vendor_description'] + ' (' + selected_ordered_item['description'] + ')' ) : ''}}
      </h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
      <div class="col-span-12">
        <label>Quantity({{selected_ordered_item ? selected_ordered_item['uom'] : ''}})</label>
        <div class="flex mt-2 flex-1">
          <input type="text" class="input w-full border text-center" placeholder="Item quantity" value="{{selected_ordered_item ? selected_ordered_item['ordered_qty'] : ''}}" disabled>
        </div>
      </div>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200">
      <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</button>
      <button type="button" data-dismiss="modal" class="button w-24 bg-theme-6 text-white" (click)="remove_ordered_item()">Remove</button>
    </div>
  </div>
</div>
<!-- END: Edit Item Modal -->
<!-- BEGIN: Place Order Modal -->
<div class="modal" id="place-order-modal">
  <div class="modal__content modal__content--lg">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
      <h2 class="font-medium text-base mr-auto">
        Your order: {{po_number}}
      </h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
      <div class="col-span-12" style="max-height: 500px; overflow: auto;">
        <div class="intro-y" *ngFor="let item of ordered_item; index as idx;">
          <div class="box px-5 py-3 mb-3 flex items-center">
            <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
              <img alt="Purchasing system image" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
            </div>
            <div class="ml-4 mr-auto">
              <div class="font-medium">{{item.description}}({{item.description}})</div>
              <div class="text-gray-600 text-xs">{{item.ordered_qty}} {{item.ordered_qty == 1 ? item.uom : item.uom + 's'}} ({{(item.primary_unit * item.ordered_qty * 10) / 10}}{{item.base_uom}})</div>
            </div>
            <div class="text-theme-6">{{item.cost * item.ordered_qty | currency}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-end mx-5 mb-2">
      <span class="text-theme-1 mr-5">CBM: {{sum_total_cbm() * 10 / 10}}</span>
      <span class="text-theme-6">Total charge: {{sum_total_price() | currency}}</span>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200">
      <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</button>
      <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white" (click)="place_order()">Place order</button>
    </div>
  </div>
</div>
<!-- END: Place Order Modal -->
</div>
