<app-menu></app-menu>
<div class="content">
  <div class="intro-y flex flex-col sm:flex-row items-center mt-5">
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
      <a *ngIf="!ticket_created" href="javascript:;" data-toggle="modal" data-target="#new-order-modal" class="button text-white bg-theme-1 shadow-md flex items-center w-64 w-full md:w-auto mb-2 md:mb-0" (click)="generate_po_number()">
        <i class="w-4 h-4 mr-2" data-feather="plus" appFeatherIcon></i><span>New Order</span>
      </a>
      <a *ngIf="ticket_created" class="button bg-gray-200 text-gray-600 shadow-md flex items-center w-64 w-full md:w-auto mb-2 md:mb-0">
        <i class="w-4 h-4 mr-2" data-feather="plus" appFeatherIcon></i><span>New Order</span>
      </a>
    </div>
  </div>
  <div class="pos intro-y grid grid-cols-12 gap-5 mt-2">
    <!-- BEGIN: Item List -->
    <div class="intro-y col-span-12 lg:col-span-8 box p-5">
      <div class="flex md:hidden">
        <select class="input input--md box lg:mt-0 mr-2" (change)="category_change($event)">
          <option value="all">All categories</option>
          <option value="dry">Dry</option>
          <option value="frozen">Frozen</option>
        </select>
      </div>
      <div class="flex intro-y mt-2 md:mt-0 items-center">
        <h2 class="font-medium text-base">
          Total items ({{globalService.items.length}})
        </h2>
        <div class="relative text-gray-700 ml-5">
          <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search item..." (keyup)="search_item($event)">
          <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search" appFeatherIcon></i>
        </div>
        <div class="hidden md:flex md:ml-auto">
          <select class="input input--md box lg:mt-0 mr-2" [(ngModel)]="category">
            <option value="all">All categories</option>
            <option *ngFor="let item of categories" value="{{item}}">{{item}}</option>
          </select>
        </div>
        <div class="box p-2 md:ml-2 sm:hide ml-auto">
          <div class="w-20 flex justify-around items-center h-full item-layout-style">
            <a class="{{item_display_style == 'grid' ? 'active' : ''}}" (click)="item_display_style_change('grid')"><i class="h-5" data-feather="grid" appFeatherIcon></i></a>
            <a class="{{item_display_style == 'list' ? 'active' : ''}}" (click)="item_display_style_change('list')"><i class="h-5" data-feather="list" appFeatherIcon></i></a>
          </div>
        </div>
      </div>
      <div *ngIf="item_display_style == 'list'" class="p-0 mt-2" style="max-height: 65vh; overflow: auto;">
        <ng-template ngFor let-item [ngForOf]="globalService.items" let-i="index">
          <ng-template [ngIf]="
            filter_item(item) && 
            (item.status == 'true') && 
            ((item.category == category) || (category == 'all'))
          ">
            <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal" class="">
              <div class="relative flex items-center box p-2 mt-2" (click)="select_item(item)">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                  <img alt="Purchasing system image" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
                </div>
                <div class="ml-4 mr-auto">
                  <div class="font-medium">Description: {{item.description}} ({{item.vendor_description}})</div>
                  <div class="text-gray-600 text-xs">
                    <span><em>Max order qty</em>: {{(item.qty_display == 'true' && (item.moq != '')) ? item.moq + ' ' + item.unit : 'TBD'}}</span>
                    <span class="ml-5"><em>CBF</em>: {{item.cbm}}</span>
                    <span *ngIf="item.category=='frozen'" class="ml-5 rounded-full border border-theme-1 text-theme-1" style="padding: 2px 5px;">{{item.category}}</span>
                    <span *ngIf="item.category=='dry'" class="ml-5 rounded-full border border-theme-12 text-theme-12" style="padding: 2px 5px;">{{item.category}}</span>
                  </div>
                </div>
                <div class="text-theme-6">Price: {{item.price != 'Market Price' ? ('$' + globalService.parse_float(item.price)) : item.price}}</div>
              </div>
            </a>
          </ng-template>
        </ng-template>
      </div>
      <div *ngIf="item_display_style == 'grid'" class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-5" style="max-height: 65vh; overflow: auto;">
        <ng-template ngFor let-item [ngForOf]="globalService.items" let-i="index">
          <ng-template [ngIf]="
            filter_item(item) && 
            (item.status == 'true') && 
            ((item.category == category) || (category == 'all'))
          ">
            <div class="intro-y block col-span-6 sm:col-span-3 xxl:col-span-2">
              <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal" class="">
                <div class="box rounded-md p-3 relative" (click)="select_item(item)">
                  <div class="flex-none pos-image relative block">
                    <div class="pos-image__preview image-fit">
                      <img alt="Purchasing system image" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
                    </div>
                  </div>
                  <div class="flex mt-1 justify-between">
                    <small>{{item.price != 'Market Price' ? ('$' + globalService.parse_float(item.price)) : item.price}}</small>
                    <small>{{item.moq ? item.moq + ' ' + item.unit : ''}}</small>
                  </div>
                  <small class="block truncate">{{item.description}} ({{item.vendor_description}})</small>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-4 box p-5">
      <div class="flex items-center p-5 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          <span *ngIf="ticket_created">Your current order - {{po_number}}</span>
          <span *ngIf="!ticket_created">Please start a new order</span>
        </h2>
      </div>
      <div class="py-5">
        <div *ngIf="ordered_item.length == 0 && ticket_created">Please add items</div>
        <div *ngFor="let item of ordered_item" class="flex items-start px-5 mb-3">
          <div class="w-full flex flex-col lg:flex-row items-center">
            <div class="w-12 h-12 image-fit">
              <img class="rounded-lg" src="{{item['image'] != '' ? item['image'] : 'assets/images/place_holder.png'}}" alt="Purchasing system image"/>
            </div>
            <div class="lg:ml-4 text-center lg:text-left mt-3 lg:mt-0 w-48 truncate">
              <div class="font-medium">{{item['description']}}</div> 
              <div class="text-gray-600 text-xs">{{item['vendor_description']}}</div>
            </div>
            <div class="ml-2">
              <p class="text-theme-6 text-xs">{{item.price | currency}}</p>
              <p class="{{item.category == 'frozen' ? 'text-theme-1' : 'text-theme-12'}} text-xs">{{item.cbf | number}}</p>
            </div>
            <div class="ml-2">
              <span class="font-bold">x {{item.ordered_qty}}</span>
            </div>
            <div class="ml-2">
              <span class="rounded-full border {{item.category == 'frozen' ? 'text-theme-1 border-theme-1' : 'text-theme-12 border-theme-12'}} text-xs p-1">{{item.category}}</span>
            </div>
            <div class="ml-auto w-12">
              <p class="font-bold text-theme-6">{{item.price * item.ordered_qty | currency}}</p>
              <p class="font-bold {{item.category == 'frozen' ? 'text-theme-1' : 'text-theme-12'}}">{{item.cbf * item.ordered_qty | number}} (lb)</p>
            </div>
            <div class="ml-auto">
              <button class="button px-2 mr-1 mb-2 border text-gray-700" (click)="remove_item(item['id'])">
                <i data-feather="trash" class="text-theme-6 w-4 h-4 flex items-center justify-center" appFeatherIcon></i>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="ticket_created" class="mt-3 border-t">
          <div class="mt-2 flex justify-end">
            <span class="font-bold text-theme-6 text-lg">{{get_total_order_price() | currency}}</span>
          </div>
          <div class="mt-2 flex justify-end">
            <div>
              <div class="flex items-center" *ngIf="get_total_order_cbf().frozen != 0">
                <i data-feather="box" class="text-theme-1 w-4 h-4 mr-2" appFeatherIcon></i>
                <span class="font-bold text-theme-1 text-lg">{{get_total_order_cbf().frozen | number}} lb </span>
                <span class="text-theme-1 text-lg ml-2">({{get_pallet(get_total_order_cbf().frozen / frozen_cbf_pallet) | number}} pallets)</span>
              </div>
              <div class="flex items-center" *ngIf="get_total_order_cbf().dry != 0">
                <i data-feather="box" class="text-theme-12 w-4 h-4 mr-2" appFeatherIcon></i>
                <span class="font-bold text-theme-12 text-lg">{{get_total_order_cbf().dry | number}} lb </span>
                <span class="text-theme-12 text-lg ml-2">
                  ({{get_pallet(get_total_order_cbf().dry / dry_cbf_pallet) | number}} pallets)
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="ticket_created" class="p-5 border-t mt-auto">
        <div class="flex">
          <button type="button" class="button w-20 bg-theme-1 text-white" (click)="place_order()">Place</button>
          <button type="button" class="button w-20 bg-theme-6 text-white ml-auto" (click)="cancel_order()">Cancel</button>
        </div>
      </div>
    </div>
    
  </div>
  <!-- BEGIN: New Order Modal -->
  <div class="modal" id="new-order-modal">
    <div class="modal__content">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          New Order
        </h2>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12">
          <label>Branch ID</label>
          <input type="text" class="input w-full border mt-2 flex-1" placeholder="Customer name" value="{{user['name']}}" disabled>
        </div>
        <div class="col-span-12">
          <label>PO number</label>
          <input type="text" class="input w-full border mt-2 flex-1" placeholder="Purchase order number" value="{{po_number}}" disabled>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button type="button" data-dismiss="modal" class="button w-32 border text-gray-700 mr-1">Cancel</button>
        <button type="button" data-dismiss="modal" class="button w-32 bg-theme-1 text-white" (click)="create_ticket()">Create Order</button>
      </div>
    </div>
  </div>
  <!-- END: New Order Modal -->
  <!-- BEGIN: Add Item Modal -->
  <div class="modal" id="add-item-modal">
    <div class="modal__content">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          Order item
        </h2>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12">
          <h4 class="font-bold">Item details</h4>
          <div style="border: 1px solid #eee; border-radius: 5px;" class="py-2 mt-2 mb-2">
            <div class="px-5">{{selected_item ? selected_item['vendor_description'] + '(' + selected_item['description'] + ')' : 'TBD'}}</div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Category:
                <ng-template [ngIf]="selected_item">
                  <span *ngIf="selected_item.category=='frozen'" class="rounded-full border border-theme-1 text-theme-1" style="padding: 1px 5px;">{{selected_item.category}}</span>
                  <span *ngIf="selected_item.category=='dry'" class="rounded-full border border-theme-12 text-theme-12" style="padding: 1px 5px;">{{selected_item.category}}</span>
                </ng-template>
              </div>
              <div>Unit of measurment: <span class="text-gray-600">{{selected_item ? selected_item['unit'] : 'TBD'}}</span></div>
            </div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Price: <span class="text-red-600">${{selected_item ? selected_item['price'] : 'TBD'}}</span></div>
              <div>Max order qty: <span class="text-gray-600">{{selected_item && selected_item['moq'] != '' ? selected_item['moq'] : 'TBD'}}</span></div>
            </div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Packing info: <span class="text-gray-600">{{selected_item && selected_item['packing_info'] != '' ? selected_item['packing_info'] : 'TBD'}}</span></div>
              <div>CBF: <span class="text-gray-600">{{selected_item && selected_item['cbm'] != '' ? selected_item['cbm'] : 'TBD'}}</span></div>
            </div>
          </div>
          <div class="w-full border-t border-gray-200 border-dashed my-3"></div>
          <label class="font-bold">Quantity({{selected_item ? selected_item['unit'] : ''}})</label>
          <div class="flex mt-2 flex-1">
            <button type="button" class="button w-12 border bg-gray-200 text-gray-600 mr-1" (click)="decrease_item()">-</button>
            <input type="number" class="input w-full border text-center" placeholder="Item quantity" value="{{qty}}" min="0" max="{{selected_item ? selected_item['moq'] : '999'}}" (keyup)="manual_input_item($event)">
            <button type="button" class="button w-12 border bg-gray-200 text-gray-600 ml-1" (click)="increase_item()">+</button>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1" (click)="reset()">Cancel</button>
        <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white" (click)="add_item()">Add</button>
      </div>
    </div>
  </div>
  <!-- END: Add Item Modal -->

</div>
