<app-menu></app-menu>
<div class="content">
  <div class="intro-y flex flex-col sm:flex-row items-center mt-5">
    <h2 class="text-lg font-medium mr-auto">
      Order item
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
      <a href="javascript:;" data-toggle="modal" data-target="#new-order-modal" class="button text-white bg-theme-1 shadow-md flex w-full md:w-auto mb-2 md:mb-0" (click)="generate_po_number()">
        <i class="w-4 h-4" data-feather="plus" appFeatherIcon></i><span>New Order</span>
      </a>
    </div>
  </div>
  <div class="pos intro-y grid grid-cols-12 gap-5 mt-2">
    <!-- BEGIN: Item List -->
    <div class="col-span-12 lg:col-span-4">
      <div class="intro-y">
        <div class="box p-2">
          <div class="pos__tabs nav-tabs justify-center flex">
            <a *ngIf="ticket_created" data-toggle="tab" data-target="#ticket" href="javascript:;" class="flex-1 py-2 rounded-md text-center active">Current order</a>
            <a data-toggle="tab" data-target="#details" href="javascript:;" class="flex-1 py-2 rounded-md text-center {{ticket_created ? '' : 'active'}}">My orders</a>
          </div>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-content__pane {{ticket_created ? 'active' : ''}}" id="ticket">
          <div class="pos__ticket box p-2 mt-2">
            <h6 class="text-base font-medium leading-none ml-2 mt-2 mb-2">{{ordered_item.length != 0 ? 'Ordered items:' : 'Please order items'}}</h6>
            <div *ngFor="let item of ordered_item; index as idx;">
              <div *ngFor="let _item of globalService.items">
                <div *ngIf="item.item_id == _item.id">
                  <a (click)="edit_item(item.item_id)" href="javascript:;" data-toggle="modal" data-target="#edit-item-modal" class="flex items-center p-3 cursor-pointer transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md">
                    <div class="pos__ticket__item-name truncate mr-1">{{_item.vendor_description}} ({{_item.description}})</div>
                    <div class="text-gray-600">x {{item.qty}} {{_item.uom}}{{item.qty==1 ? '' : 's'}}</div>
                    <i data-feather="edit" class="w-4 h-4 text-gray-600 ml-2" appFeatherIcon></i>
                    <div class="ml-auto flex align-center">
                      <span>Sub total: {{_item.price != '' && _item.price != 'Market Price' ? '$' + globalService.parse_float(globalService.parse_float(_item.price) * item.qty) : 'TBD'}}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="box p-5 mt-5">
            <div class="flex">
              <div class="mr-auto">Total price</div>
              <div>{{globalService.sum_total_price(ordered_item) | currency}} {{globalService.price_tbded ? '+' : ''}}</div>
            </div>
            <div class="flex mt-4 pt-4 border-t border-gray-200">
              <div class="mr-auto font-medium text-base">Charge</div>
              <div class="font-medium text-base">{{globalService.sum_total_price(ordered_item) | currency}} {{globalService.price_tbded ? '+' : ''}}</div>
            </div>
            <div class="flex mt-4">
              <div class="mr-auto font-medium text-base">Dry CBF</div>
              <div class="font-medium text-base">
                {{globalService.sum_total_cbm_dry(ordered_item)['reminder_cbf'] | number}}/{{globalService.sum_total_cbm_dry(ordered_item)['one_pallet_cbf']}}
                ({{globalService.sum_total_cbm_dry(ordered_item)['total_pallet']}} pallet{{globalService.sum_total_cbm_dry(ordered_item)['total_pallet'] == 1 ? '' : 's'}} : Total {{globalService.sum_total_cbm_dry(ordered_item)['total_cbf']}} lb)
              </div>
            </div>
            <div class="flex mt-4">
              <div class="mr-auto font-medium text-base">Frozen CBF</div>
              <div class="font-medium text-base">
                {{globalService.sum_total_cbm_frozen(ordered_item)['reminder_cbf'] | number}}/{{globalService.sum_total_cbm_frozen(ordered_item)['one_pallet_cbf']}}
                ({{globalService.sum_total_cbm_frozen(ordered_item)['total_pallet']}} pallet{{globalService.sum_total_cbm_frozen(ordered_item)['total_pallet'] == 1 ? '' : 's'}} : Total {{globalService.sum_total_cbm_frozen(ordered_item)['total_cbf']}} lb)
              </div>
            </div>
          </div>
          <div class="flex mt-5 justify-between">
            <button class="button w-32 border border-gray-400 text-gray-600" (click)="cancel_order()">Cancel</button>
            <button class="button w-32 text-white bg-theme-6 shadow-md" (click)="clear_items()">Clear Items</button>
            <button class="button w-32 text-white bg-theme-12 shadow-md" (click)="save_order(ordered_item)">Save order</button>
            <a class="button w-32 text-white bg-theme-1 shadow-md" href="javascript:;" data-toggle="modal" data-target="#place-order-modal">Place order</a>
          </div>
        </div>
        <div class="tab-content__pane {{!ticket_created ? 'active' : ''}}" id="details">
          <div class="box p-2 mt-2">
            <h6 class="text-base font-medium leading-none ml-2 mt-2 mb-2">{{globalService.orders.length != 0 ? 'Recent orders:' : 'You have no orders yet. Please start ordering.'}}</h6>
            <a *ngFor="let item of globalService.orders; index as idx;" href="javascript:;" (click)="select_order(item['order_id'])" data-toggle="modal" data-target="#order-items-modal">
              <div class="flex items-center p-3 cursor-pointer transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md">
                <div class="ml-4 mr-auto">
                  <div class="font-medium">Order ID: {{item.order_id}}</div>
                  <div class="text-gray-600 text-xs">Ordered time: {{item.order_time}}</div>
                </div>
                <div class="py-1 px-2 rounded-full text-xs bg-theme-{{item['status'] == 'pending' ? '12' : (item['status'] == 'approved' ? '9' : (item['status'] == 'draft' ? '6' : '1'))}} text-white cursor-pointer font-medium">{{item.status}}</div>
              </div>
              <div class="w-full border-t border-gray-200 border-dashed"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="intro-y col-span-12 lg:col-span-8">
      <div class="flex md:hidden">
        <select class="input input--md box lg:mt-0 mr-2" (change)="category_change($event)">
          <option value="all">All categories</option>
          <option value="dry">Dry</option>
          <option value="frozen">Frozen</option>
        </select>
        <select class="input input--md box lg:mt-0 ml-auto" (change)="sortby_change($event)">
          <option value="">Sort by</option>
          <option value="description">Description(A-Z)</option>
          <option value="price">Price</option>
          <option value="moq">Max order qty</option>
          <option value="category">Category</option>
        </select>
      </div>
      <div class="flex intro-y mt-2 md:mt-0">
        <div class="relative text-gray-700">
          <input type="text" class="input input--lg w-full lg:w-64 box pr-10 placeholder-theme-13" placeholder="Search item..." (keyup)="search_item($event)">
          <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search" appFeatherIcon></i>
        </div>
        <div class="hidden md:flex md:ml-auto">
          <select class="input input--md box lg:mt-0 mr-2" (change)="category_change($event)">
            <option value="all">All categories</option>
            <option value="dry">Dry</option>
            <option value="frozen">Frozen</option>
          </select>
          <select class="input input--md box lg:mt-0" (change)="sortby_change($event)">
            <option value="">Sort by</option>
            <option value="description">Description(A-Z)</option>
            <option value="price">Price</option>
            <option value="moq">Max order qty</option>
            <option value="category">Category</option>
          </select>
        </div>
        <div class="box p-2 md:ml-2 sm:hide ml-auto">
          <div class="w-20 flex justify-around items-center h-full item-layout-style">
            <a class="{{item_display_style == 'list' ? 'active' : ''}}" (click)="item_display_style_change('list')"><i class="h-5" data-feather="list" appFeatherIcon></i></a>
            <a class="{{item_display_style == 'grid' ? 'active' : ''}}" (click)="item_display_style_change('grid')"><i class="h-5" data-feather="grid" appFeatherIcon></i></a>
          </div>
        </div>
      </div>
      <div *ngIf="item_display_style == 'list'" class="p-0 mt-2" style="max-height: 65vh; overflow: auto;">
        <ng-template ngFor let-item [ngForOf]="globalService.items" let-i="index">
          <ng-template [ngIf]="filter_item(item) && (item.status == 'true') && ((item.category == category) || (category == 'all'))">
            <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal" class="">
              <div class="relative flex items-center box p-2 mt-2" (click)="select_item(item)">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                  <img alt="Purchasing system image" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
                </div>
                <div class="ml-4 mr-auto">
                  <div class="font-medium">Description: {{item.vendor_description}} ({{item.description}})</div>
                  <div class="text-gray-600 text-xs">
                    <span><em>Max order qty</em>: {{(item.qty_display == 'true' && (item.moq != '')) ? item.moq + ' ' + item.uom : 'TBD'}}</span>
                    <span class="ml-5"><em>CBF</em>: {{item.cbm}}</span>
                    <span *ngIf="item.category=='frozen'" class="ml-5 rounded-full border border-theme-1 text-theme-1" style="padding: 2px 5px;">{{item.category}}</span>
                    <span *ngIf="item.category=='dry'" class="ml-5 rounded-full border border-theme-12 text-theme-12" style="padding: 2px 5px;">{{item.category}}</span>
                  </div>
                </div>
                <div class="text-theme-6">Price: {{item.price != 'Market Price' ? ('$' + globalService.parse_float(item.price)) : item.price}}</div>
              </div>
            </a>
          </ng-template>
        </ng-template>
      </div>
      <div *ngIf="item_display_style == 'grid'" class="grid grid-cols-12 gap-5 mt-5 pt-5 border-t border-theme-5" style="max-height: 65vh; overflow: auto;">
        <ng-template ngFor let-item [ngForOf]="globalService.items" let-i="index">
          <ng-template [ngIf]="filter_item(item) && (item.status == 'true') && ((item.category == category) || (category == 'all'))">
            <div class="intro-y block col-span-6 sm:col-span-3 xxl:col-span-2">
              <a href="javascript:;" data-toggle="modal" data-target="#add-item-modal" class="">
                <div class="box rounded-md p-3 relative" (click)="select_item(item)">
                  <div class="flex-none pos-image relative block">
                    <div class="pos-image__preview image-fit">
                      <img alt="Purchasing system image" src="{{ item.image ? item.image : 'assets/images/place_holder.png' }}">
                    </div>
                  </div>
                  <div class="flex mt-1 justify-between">
                    <small>{{item.price != 'Market Price' ? ('$' + globalService.parse_float(item.price)) : item.price}}</small>
                    <small>{{(item.qty_display == 'true' && (item.qty != '')) ? item.qty + ' ' + item.uom : ''}}</small>
                  </div>
                  <small class="block truncate">{{item.vendor_description}} ({{item.description}})</small>
                </div>
              </a>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- BEGIN: New Order Modal -->
  <div class="modal" id="new-order-modal">
    <div class="modal__content">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          New Order
        </h2>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12">
          <label>Branch ID</label>
          <input type="text" class="input w-full border mt-2 flex-1" placeholder="Customer name" value="{{user['name']}}" disabled>
        </div>
        <div class="col-span-12">
          <label>PO number</label>
          <input type="text" class="input w-full border mt-2 flex-1" placeholder="Purchase order number" value="{{po_number}}" disabled>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button type="button" data-dismiss="modal" class="button w-32 border text-gray-700 mr-1">Cancel</button>
        <button type="button" data-dismiss="modal" class="button w-32 bg-theme-1 text-white" (click)="create_ticket()">Create Order</button>
      </div>
    </div>
  </div>
  <!-- END: New Order Modal -->
  <!-- BEGIN: Add Item Modal -->
  <div class="modal" id="add-item-modal">
    <div class="modal__content">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          Order item
        </h2>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12">
          <h4 class="font-bold">Item details</h4>
          <div style="border: 1px solid #eee; border-radius: 5px;" class="py-2 mt-2 mb-2">
            <div class="px-5">{{selected_item ? selected_item['vendor_description'] + '(' + selected_item['description'] + ')' : 'TBD'}}</div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Category:
                <ng-template [ngIf]="selected_item">
                  <span *ngIf="selected_item.category=='frozen'" class="rounded-full border border-theme-1 text-theme-1" style="padding: 1px 5px;">{{selected_item.category}}</span>
                  <span *ngIf="selected_item.category=='dry'" class="rounded-full border border-theme-12 text-theme-12" style="padding: 1px 5px;">{{selected_item.category}}</span>
                </ng-template>
              </div>
              <div>Unit of measurment: <span class="text-gray-600">{{selected_item ? selected_item['uom'] : 'TBD'}}</span></div>
            </div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Price: <span class="text-red-600">${{selected_item ? selected_item['price'] : 'TBD'}}</span></div>
              <div>Max order qty: <span class="text-gray-600">{{selected_item && selected_item['moq'] != '' ? selected_item['moq'] : 'TBD'}}</span></div>
            </div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Packing info: <span class="text-gray-600">{{selected_item && selected_item['packing_info'] != '' ? selected_item['packing_info'] : 'TBD'}}</span></div>
              <div>CBF: <span class="text-gray-600">{{selected_item && selected_item['cbm'] != '' ? selected_item['cbm'] : 'TBD'}}</span></div>
            </div>
          </div>
          <div class="w-full border-t border-gray-200 border-dashed my-3"></div>
          <label class="font-bold">Quantity({{selected_item ? selected_item['uom'] : ''}})</label>
          <div class="flex mt-2 flex-1">
            <button type="button" class="button w-12 border bg-gray-200 text-gray-600 mr-1" (click)="decrease_item()">-</button>
            <input type="number" class="input w-full border text-center" placeholder="Item quantity" value="{{qty}}" min="0" max="{{selected_item ? selected_item['moq'] : '999'}}" (keyup)="manual_input_item($event)">
            <button type="button" class="button w-12 border bg-gray-200 text-gray-600 ml-1" (click)="increase_item()">+</button>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1" (click)="reset()">Cancel</button>
        <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white" (click)="add_item()">Add</button>
      </div>
    </div>
  </div>
  <!-- END: Add Item Modal -->
  <!-- BEGIN: Edit Item Modal -->
  <div class="modal" id="edit-item-modal">
    <div class="modal__content">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          Edit item
        </h2>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12">
          <h4 class="font-bold">Item details</h4>
          <div style="border: 1px solid #eee; border-radius: 5px;" class="py-2 mt-2 mb-2">
            <div class="px-5">{{selected_item ? selected_item['vendor_description'] + '(' + selected_item['description'] + ')' : 'TBD'}}</div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Category:
                <ng-template [ngIf]="selected_item">
                  <span *ngIf="selected_item.category=='frozen'" class="rounded-full border border-theme-1 text-theme-1" style="padding: 1px 5px;">{{selected_item.category}}</span>
                  <span *ngIf="selected_item.category=='dry'" class="rounded-full border border-theme-12 text-theme-12" style="padding: 1px 5px;">{{selected_item.category}}</span>
                </ng-template>
              </div>
              <div>Unit of measurment: <span class="text-gray-600">{{selected_item ? selected_item['uom'] : 'TBD'}}</span></div>
            </div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Price: <span class="text-red-600">${{selected_item ? selected_item['price'] : 'TBD'}}</span></div>
              <div>Max order qty: <span class="text-gray-600">{{selected_item && selected_item['moq'] != '' ? selected_item['moq'] : 'TBD'}}</span></div>
            </div>
            <div class="flex mt-1 px-5 justify-between">
              <div>Packing info: <span class="text-gray-600">{{selected_item && selected_item['packing_info'] != '' ? selected_item['packing_info'] : 'TBD'}}</span></div>
              <div>CBF: <span class="text-gray-600">{{selected_item && selected_item['cbm'] != '' ? selected_item['cbm'] : 'TBD'}}</span></div>
            </div>
          </div>
          <div class="w-full border-t border-gray-200 border-dashed my-3"></div>
          <label class="font-bold">Quantity({{selected_item ? selected_item['uom'] : ''}})</label>
          <div class="flex mt-2 flex-1">
            <button type="button" class="button w-12 border bg-gray-200 text-gray-600 mr-1" (click)="decrease_item()">-</button>
            <input type="number" class="input w-full border text-center" placeholder="Item quantity" value="{{qty}}" min="0" max="{{selected_item ? selected_item['moq'] : '999'}}" (keyup)="manual_input_item($event)">
            <button type="button" class="button w-12 border bg-gray-200 text-gray-600 ml-1" (click)="increase_item()">+</button>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1" (click)="reset()">Cancel</button>
        <button type="button" data-dismiss="modal" class="button w-24 bg-theme-6 text-white mr-1" (click)="remove_item()">Remove</button>
        <button type="button" data-dismiss="modal" class="button w-24 bg-theme-3 text-white" (click)="edit_item_confirm()">Confirm</button>
      </div>
    </div>
  </div>
  <!-- END: Edit Item Modal -->
  <!-- BEGIN: Place Order Modal -->
  <div class="modal" id="place-order-modal">
    <div class="modal__content modal__content--lg">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          Your order: {{po_number}}
        </h2>
      </div>
      <div class="flex flex-col md:flex-row md:justify-between mt-2">
        <div class="flex flex-row justify-around md:ml-5 md:w-3/5 w-full">
          <div class="flex flex-col justify-between">
            <circle-progress
              [percent]="globalService.sum_total_cbm_dry(ordered_item)['reminder_percent']"
              [subtitle]="[
                'Dry CBF',
                globalService.sum_total_cbm_dry(ordered_item)['fill_cbf'] + ' lb to fill up.',
                'Total: ' + globalService.sum_total_cbm_dry(ordered_item)['total_pallet'] + ' pallet' + (globalService.sum_total_cbm_dry(ordered_item)['total_pallet'] == 1 ? '' : 's')
              ]"
              [outerStrokeColor]="'#FBC500'"
            ></circle-progress>
            <small>Total Dry CBF(lb): {{globalService.sum_total_cbm_dry(ordered_item)['total_cbf'] | number:'.2-2'}}</small>
            <small>1 pallet CBF(lb): {{globalService.sum_total_cbm_dry(ordered_item)['one_pallet_cbf'] | number:'.2-2'}}</small>
            <small>Total pallets: {{globalService.sum_total_cbm_dry(ordered_item)['total_pallet']}}</small>
          </div>
          <div class="flex flex-col justify-between">
            <circle-progress
              [percent]="globalService.sum_total_cbm_frozen(ordered_item)['reminder_percent']"
              [subtitle]="[
                'Frozen CBF',
                globalService.sum_total_cbm_frozen(ordered_item)['fill_cbf'] + ' lb to fill up.',
                'Total: ' + globalService.sum_total_cbm_frozen(ordered_item)['total_pallet'] + ' pallet' + (globalService.sum_total_cbm_frozen(ordered_item)['total_pallet'] == 1 ? '' : 's')
              ]"
              [outerStrokeColor]="'#1C3FAA'"
            ></circle-progress>
            <small>Total Frozen CBF(lb): {{globalService.sum_total_cbm_frozen(ordered_item)['total_cbf'] | number:'.2-2'}}</small>
            <small>1 pallet CBF(lb): {{globalService.sum_total_cbm_frozen(ordered_item)['one_pallet_cbf'] | number:'.2-2'}}</small>
            <small>Total pallets: {{globalService.sum_total_cbm_frozen(ordered_item)['total_pallet']}}</small>
          </div>
        </div>
        <div class="flex flex-col justify-end md:items-start md:mt-0 mt-2 ml-5 md:mr-5 md:w-2/5 w-full">
          <span class="mt-1">Total items: {{ordered_item ? ordered_item.length : '0'}}</span>
          <div class="text-theme-6 mt-1">Total charge: {{globalService.sum_total_price(ordered_item) | currency}} {{globalService.price_tbded ? '+' : ''}}</div>
        </div>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12" style="max-height: 500px; overflow: auto;">
          <div *ngFor="let item of ordered_item; index as idx;">
            <div *ngFor="let _item of globalService.items;">
              <div *ngIf="_item['id'] == item['item_id']">
                <div class="px-5 py-3 mb-3 flex items-center" style="border: 1px solid #eee; border-radius: 5px;">
                  <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Purchasing system image" src="{{ _item['image'] ? _item['image'] : 'assets/images/place_holder.png' }}">
                  </div>
                  <div class="ml-4 mr-auto" style="max-width: 50%;">
                    <div class="font-medium block truncate">{{_item['vendor_description']}}({{_item['description']}})</div>
                    <div class="text-gray-600 text-xs">{{item.qty}} {{item.qty == 1 ? _item.uom : _item.uom + 's'}}</div>
                  </div>
                  <div class="text-theme-6">{{_item.price != '' && _item.price != 'Market Price' ? '$' + globalService.parse_float(globalService.parse_float(_item.price) * item.qty) : 'TBD'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1">Cancel</button>
        <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white" (click)="confirm_order()">Confrim</button>
      </div>
    </div>
  </div>

  <div class="modal" id="order-items-modal">
    <div class="modal__content modal__content--lg">
      <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
        <h2 class="font-medium text-base mr-auto">
          Order ID: {{selected_order ? selected_order['order_id'] : ''}}
        </h2>
        <small>{{selected_order ? selected_order['order_time'] : ''}}</small>
      </div>
      <div class="flex flex-col md:flex-row md:justify-between mt-2">
        <div class="flex flex-row justify-around md:ml-5 md:w-3/5 w-full">
          <div class="flex flex-col justify-between">
            <circle-progress
              [percent]="globalService.sum_total_cbm_dry(ordered_item_details)['reminder_percent']"
              [subtitle]="[
                'Dry CBF',
                globalService.sum_total_cbm_dry(ordered_item_details)['fill_cbf'] + ' lb to fill up.',
                'Total: ' + globalService.sum_total_cbm_dry(ordered_item_details)['total_pallet'] + ' pallet' + (globalService.sum_total_cbm_dry(ordered_item_details)['total_pallet'] == 1 ? '' : 's')
              ]"
              [outerStrokeColor]="'#FBC500'"
            ></circle-progress>
            <small>Total Dry CBF(lb): {{globalService.sum_total_cbm_dry(ordered_item_details)['total_cbf'] | number:'.2-2'}}</small>
            <small>1 pallet CBF(lb): {{globalService.sum_total_cbm_dry(ordered_item_details)['one_pallet_cbf'] | number:'.2-2'}}</small>
            <small>Total pallets: {{globalService.sum_total_cbm_dry(ordered_item_details)['total_pallet']}}</small>
          </div>
          <div class="flex flex-col justify-between">
            <circle-progress
              [percent]="globalService.sum_total_cbm_frozen(ordered_item_details)['reminder_percent']"
              [subtitle]="[
                'Frozen CBF',
                globalService.sum_total_cbm_frozen(ordered_item_details)['fill_cbf'] + ' lb to fill up.',
                'Total: ' + globalService.sum_total_cbm_frozen(ordered_item_details)['total_pallet'] + ' pallet' + (globalService.sum_total_cbm_frozen(ordered_item_details)['total_pallet'] == 1 ? '' : 's')
              ]"
              [outerStrokeColor]="'#1C3FAA'"
            ></circle-progress>
            <small>Total Frozen CBF(lb): {{globalService.sum_total_cbm_frozen(ordered_item_details)['total_cbf'] | number:'.2-2'}}</small>
            <small>1 pallet CBF(lb): {{globalService.sum_total_cbm_frozen(ordered_item_details)['one_pallet_cbf'] | number:'.2-2'}}</small>
            <small>Total pallets: {{globalService.sum_total_cbm_frozen(ordered_item_details)['total_pallet']}}</small>
          </div>
        </div>
        <div class="flex flex-col justify-end md:items-start md:mt-0 mt-2 ml-5 md:mr-5 md:w-2/5 w-full">
          <span class="mt-1">Total items: {{ordered_item_details ? ordered_item_details.length : '0'}}</span>
          <span>Status:
            <span class="py-1 px-2 rounded-full text-xs bg-theme-{{
                selected_order ? (selected_order['status'] == 'pending' ? '12' : (selected_order['status'] == 'approved' ? '9' : (selected_order['status'] == 'draft' ? '6' : '1'))) : ''}}
                text-white cursor-pointer font-medium">{{selected_order ? selected_order['status'] : ''}}
            </span>
          </span>
          <div class="text-theme-6 mt-1">Total charge: {{globalService.sum_total_price(ordered_item_details) | currency}} {{globalService.price_tbded ? '+' : ''}}</div>
        </div>
      </div>
      <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
        <div class="col-span-12" style="max-height: 500px; overflow: auto;">
          <div *ngFor="let item of ordered_item_details; index as idx;">
            <div *ngFor="let _item of globalService.items;">
              <div *ngIf="_item['id'] == item['item_id']">
                <div class="px-5 py-3 mb-3 flex items-center" style="border: 1px solid #eee; border-radius: 5px;">
                  <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Purchasing system image" src="{{ _item['image'] ? _item['image'] : 'assets/images/place_holder.png' }}">
                  </div>
                  <div class="ml-4 mr-auto" style="max-width: 50%;">
                    <div class="font-medium block truncate">{{_item['vendor_description']}}({{_item['description']}})</div>
                    <div class="text-gray-600 text-xs">
                      <span class="mr-2">{{item.qty}} {{item.qty == 1 ? _item.uom : _item.uom + 's'}}</span>
                      <span *ngIf="_item.category=='frozen'" class="rounded-full border border-theme-1 text-theme-1" style="padding: 2px 5px;">{{_item.category}}</span>
                      <span *ngIf="_item.category=='dry'" class="rounded-full border border-theme-12 text-theme-12" style="padding: 2px 5px;">{{_item.category}}</span>
                    </div>
                  </div>
                  <div class="text-theme-6">Price: {{_item.price != '' && _item.price != 'Market Price' ? '$' + globalService.parse_float(globalService.parse_float(_item.price) * item.qty) : 'TBD'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 text-right border-t border-gray-200">
        <button *ngIf="selected_order && (selected_order['status'] == 'draft')" type="button" data-dismiss="modal" class="button w-24 bg-theme-12 text-white mr-3" (click)="edit_order()">Edit order</button>
        <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">OK</button>
      </div>
    </div>
  </div>
  <!-- END: Place Order Modal -->
</div>
