<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="" class="flex mr-auto">
            <img alt="Purchasing system image" class="w-6" src="assets/images/logo.svg">
        </a>
        <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90" appFeatherIcon></i> </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">
        <li>
            <a href="index.html" class="menu">
                <div class="menu__icon"> <i data-feather="home" appFeatherIcon></i> </div>
                <div class="menu__title"> Dashboard </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="box" appFeatherIcon></i> </div>
                <div class="menu__title"> Menu Layout <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="index.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Side Menu </div>
                    </a>
                </li>
                <li>
                    <a href="simple-menu-dashboard.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Simple Menu </div>
                    </a>
                </li>
                <li>
                    <a href="top-menu-dashboard.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Top Menu </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="side-menu-inbox.html" class="menu">
                <div class="menu__icon"> <i data-feather="inbox" appFeatherIcon></i> </div>
                <div class="menu__title"> Inbox </div>
            </a>
        </li>
        <li>
            <a href="side-menu-file-manager.html" class="menu">
                <div class="menu__icon"> <i data-feather="hard-drive" appFeatherIcon></i> </div>
                <div class="menu__title"> File Manager </div>
            </a>
        </li>
        <li>
            <a href="side-menu-point-of-sale.html" class="menu">
                <div class="menu__icon"> <i data-feather="credit-card" appFeatherIcon></i> </div>
                <div class="menu__title"> Point of Sale </div>
            </a>
        </li>
        <li>
            <a href="side-menu-chat.html" class="menu">
                <div class="menu__icon"> <i data-feather="message-square" appFeatherIcon></i> </div>
                <div class="menu__title"> Chat </div>
            </a>
        </li>
        <li>
            <a href="side-menu-post.html" class="menu">
                <div class="menu__icon"> <i data-feather="file-text" appFeatherIcon></i> </div>
                <div class="menu__title"> Post </div>
            </a>
        </li>
        <li class="menu__devider my-6"></li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="edit" appFeatherIcon></i> </div>
                <div class="menu__title"> Crud <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="side-menu-crud-data-list.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Data List </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-crud-form.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Form </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="users" appFeatherIcon></i> </div>
                <div class="menu__title"> Users <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="side-menu-users-layout-1.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Layout 1 </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-users-layout-2.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Layout 2 </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-users-layout-3.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Layout 3 </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="trello" appFeatherIcon></i> </div>
                <div class="menu__title"> Profile <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="side-menu-profile-overview-1.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Overview 1 </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-profile-overview-2.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Overview 2 </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-profile-overview-3.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Overview 3 </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="layout" appFeatherIcon></i> </div>
                <div class="menu__title"> Pages <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Wizards <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="side-menu-wizard-layout-1.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-wizard-layout-2.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 2</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-wizard-layout-3.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 3</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Blog <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="side-menu-blog-layout-1.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-blog-layout-2.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 2</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-blog-layout-3.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 3</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Pricing <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="side-menu-pricing-layout-1.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-pricing-layout-2.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 2</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Invoice <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="side-menu-invoice-layout-1.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-invoice-layout-2.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 2</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> FAQ <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="side-menu-faq-layout-1.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 1</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-faq-layout-2.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 2</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-faq-layout-3.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Layout 3</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="login-login.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Login </div>
                    </a>
                </li>
                <li>
                    <a href="login-register.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Register </div>
                    </a>
                </li>
                <li>
                    <a href="main-error-page.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Error Page </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-update-profile.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Update profile </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-change-password.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Change Password </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu__devider my-6"></li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="inbox" appFeatherIcon></i> </div>
                <div class="menu__title"> Components <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="javascript:;" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Grid <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="side-menu-regular-table.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Regular Table</div>
                            </a>
                        </li>
                        <li>
                            <a href="side-menu-datatable.html" class="menu">
                                <div class="menu__icon"> <i data-feather="zap" appFeatherIcon></i> </div>
                                <div class="menu__title">Datatable</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="side-menu-accordion.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Accordion </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-button.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Button </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-modal.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Modal </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-alert.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Alert </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-progress-bar.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Progress Bar </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-tooltip.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Tooltip </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-dropdown.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Dropdown </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-toast.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Toast </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-typography.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Typography </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-icon.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Icon </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-loading-icon.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Loading Icon </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="sidebar" appFeatherIcon></i> </div>
                <div class="menu__title"> Forms <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="side-menu-regular-form.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Regular Form </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-datepicker.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Datepicker </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-select2.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Select2 </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-file-upload.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> File Upload </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-wysiwyg-editor.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Wysiwyg Editor </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-validation.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Validation </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="menu">
                <div class="menu__icon"> <i data-feather="hard-drive" appFeatherIcon></i> </div>
                <div class="menu__title"> Widgets <i data-feather="chevron-down" class="menu__sub-icon" appFeatherIcon></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="side-menu-chart.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Chart </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-slider.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Slider </div>
                    </a>
                </li>
                <li>
                    <a href="side-menu-image-zoom.html" class="menu">
                        <div class="menu__icon"> <i data-feather="activity" appFeatherIcon></i> </div>
                        <div class="menu__title"> Image Zoom </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- END: Mobile Menu -->
<!-- BEGIN: Top Bar -->
<div class="border-b border-theme-24 -mt-10 md:-mt-5 -mx-3 sm:-mx-8 px-3 sm:px-8 pt-3 md:pt-0 mb-10">
    <div class="top-bar-boxed flex items-center">
        <!-- BEGIN: Logo -->
        <a href="" class="-intro-x hidden md:flex">
            <img alt="Purchasing system image" class="w-6" src="assets/images/logo.svg">
            <span class="text-white text-lg ml-3"> Mid<span class="font-medium">one</span> </span>
        </a>
        <!-- END: Logo -->
        <!-- BEGIN: Breadcrumb -->
        <div class="-intro-x breadcrumb breadcrumb--light mr-auto"> <a href="" class="">Application</a> <i data-feather="chevron-right" class="breadcrumb__icon" appFeatherIcon></i> <a href="" class="breadcrumb--active">Dashboard</a> </div>
        <!-- END: Breadcrumb -->
        <!-- BEGIN: Search -->
        <div class="intro-x relative mr-3 sm:mr-6">
            <div class="search hidden sm:block">
                <input type="text" class="search__input input placeholder-theme-13" placeholder="Search...">
                <i data-feather="search" class="search__icon" appFeatherIcon></i>
            </div>
            <a class="notification notification--light sm:hidden" href=""> <i data-feather="search" class="notification__icon" appFeatherIcon></i> </a>
            <div class="search-result">
                <div class="search-result__content">
                    <div class="search-result__content__title">Pages</div>
                    <div class="mb-5">
                        <a href="" class="flex items-center">
                            <div class="w-8 h-8 bg-theme-18 text-theme-9 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="inbox" appFeatherIcon></i> </div>
                            <div class="ml-3">Mail Settings</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 bg-theme-17 text-theme-11 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="users" appFeatherIcon></i> </div>
                            <div class="ml-3">Users & Permissions</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 bg-theme-14 text-theme-10 flex items-center justify-center rounded-full"> <i class="w-4 h-4" data-feather="credit-card" appFeatherIcon></i> </div>
                            <div class="ml-3">Transactions Report</div>
                        </a>
                    </div>
                    <div class="search-result__content__title">Users</div>
                    <div class="mb-5">
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-6.jpg">
                            </div>
                            <div class="ml-3">Sylvester Stallone</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">sylvesterstallone@left4code.com</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-10.jpg">
                            </div>
                            <div class="ml-3">Al Pacino</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">alpacino@left4code.com</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-13.jpg">
                            </div>
                            <div class="ml-3">Angelina Jolie</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">angelinajolie@left4code.com</div>
                        </a>
                        <a href="" class="flex items-center mt-2">
                            <div class="w-8 h-8 image-fit">
                                <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-7.jpg">
                            </div>
                            <div class="ml-3">Hugh Jackman</div>
                            <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">hughjackman@left4code.com</div>
                        </a>
                    </div>
                    <div class="search-result__content__title">Products</div>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/preview-7.jpg">
                        </div>
                        <div class="ml-3">Samsung Q90 QLED TV</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Electronic</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/preview-1.jpg">
                        </div>
                        <div class="ml-3">Sony Master Series A9G</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Electronic</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/preview-3.jpg">
                        </div>
                        <div class="ml-3">Samsung Galaxy S20 Ultra</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Smartphone &amp; Tablet</div>
                    </a>
                    <a href="" class="flex items-center mt-2">
                        <div class="w-8 h-8 image-fit">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/preview-1.jpg">
                        </div>
                        <div class="ml-3">Sony A7 III</div>
                        <div class="ml-auto w-48 truncate text-gray-600 text-xs text-right">Photography</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END: Search -->
        <!-- BEGIN: Notifications -->
        <div class="intro-x dropdown relative mr-4 sm:mr-6">
            <div class="dropdown-toggle notification notification--light notification--bullet cursor-pointer"> <i data-feather="bell" class="notification__icon" appFeatherIcon></i> </div>
            <div class="notification-content dropdown-box mt-8 absolute top-0 right-0 z-10 -mr-10 sm:mr-0">
                <div class="notification-content__box dropdown-box__content box">
                    <div class="notification-content__title">Notifications</div>
                    <div class="cursor-pointer relative flex items-center ">
                        <div class="w-12 h-12 flex-none image-fit mr-1">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-6.jpg">
                            <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                        </div>
                        <div class="ml-2 overflow-hidden">
                            <div class="flex items-center">
                                <a href="javascript:;" class="font-medium truncate mr-5">Sylvester Stallone</a>
                                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">01:10 PM</div>
                            </div>
                            <div class="w-full truncate text-gray-600">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
                        </div>
                    </div>
                    <div class="cursor-pointer relative flex items-center mt-5">
                        <div class="w-12 h-12 flex-none image-fit mr-1">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-10.jpg">
                            <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                        </div>
                        <div class="ml-2 overflow-hidden">
                            <div class="flex items-center">
                                <a href="javascript:;" class="font-medium truncate mr-5">Al Pacino</a>
                                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">05:09 AM</div>
                            </div>
                            <div class="w-full truncate text-gray-600">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
                        </div>
                    </div>
                    <div class="cursor-pointer relative flex items-center mt-5">
                        <div class="w-12 h-12 flex-none image-fit mr-1">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-13.jpg">
                            <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                        </div>
                        <div class="ml-2 overflow-hidden">
                            <div class="flex items-center">
                                <a href="javascript:;" class="font-medium truncate mr-5">Angelina Jolie</a>
                                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">01:10 PM</div>
                            </div>
                            <div class="w-full truncate text-gray-600">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
                        </div>
                    </div>
                    <div class="cursor-pointer relative flex items-center mt-5">
                        <div class="w-12 h-12 flex-none image-fit mr-1">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-7.jpg">
                            <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                        </div>
                        <div class="ml-2 overflow-hidden">
                            <div class="flex items-center">
                                <a href="javascript:;" class="font-medium truncate mr-5">Hugh Jackman</a>
                                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">05:09 AM</div>
                            </div>
                            <div class="w-full truncate text-gray-600">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem </div>
                        </div>
                    </div>
                    <div class="cursor-pointer relative flex items-center mt-5">
                        <div class="w-12 h-12 flex-none image-fit mr-1">
                            <img alt="Purchasing system image" class="rounded-full" src="assets/images/profile-3.jpg">
                            <div class="w-3 h-3 bg-theme-9 absolute right-0 bottom-0 rounded-full border-2 border-white"></div>
                        </div>
                        <div class="ml-2 overflow-hidden">
                            <div class="flex items-center">
                                <a href="javascript:;" class="font-medium truncate mr-5">Keanu Reeves</a>
                                <div class="text-xs text-gray-500 ml-auto whitespace-no-wrap">01:10 PM</div>
                            </div>
                            <div class="w-full truncate text-gray-600">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomi</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Notifications -->
        <!-- BEGIN: Account Menu -->
        <div class="intro-x dropdown w-8 h-8 relative">
            <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in scale-110">
                <img alt="Purchasing system image" src="assets/images/profile-7.jpg">
            </div>
            <div class="dropdown-box mt-10 absolute w-56 top-0 right-0 z-20">
                <div class="dropdown-box__content box bg-theme-38 text-white">
                    <div class="p-4 border-b border-theme-40">
                        <div class="font-medium">Sylvester Stallone</div>
                        <div class="text-xs text-theme-41">DevOps Engineer</div>
                    </div>
                    <div class="p-2">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="user" class="w-4 h-4 mr-2" appFeatherIcon></i> Profile </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="edit" class="w-4 h-4 mr-2" appFeatherIcon></i> Add Account </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="lock" class="w-4 h-4 mr-2" appFeatherIcon></i> Reset Password </a>
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="help-circle" class="w-4 h-4 mr-2" appFeatherIcon></i> Help </a>
                    </div>
                    <div class="p-2 border-t border-theme-40">
                        <a href="" class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 rounded-md"> <i data-feather="toggle-right" class="w-4 h-4 mr-2" appFeatherIcon></i> Logout </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Account Menu -->
    </div>
</div>
<!-- END: Top Bar -->
