<app-menu></app-menu>
<div class="content">
  <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
      Orders
    </h2>
    <div *ngIf="loading" class="mr-3">
      <app-loader></app-loader>
    </div>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
      <div class="relative ml-auto sm:ml-0">
        <div class="sm:ml-auto mt-3 sm:mt-0 relative text-gray-700">
          <i data-feather="calendar" class="w-4 h-4 z-10 absolute my-auto inset-y-0 ml-3 left-0"></i>
          <input type="text" data-daterange="true" class="datepicker input w-full sm:w-56 box pl-10" value="2020-09-29">
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-12">
    <div class="col-span-8">
      <div class="intro-y overflow-auto lg:overflow-visible mt-8 sm:mt-0">
        <table class="table table-report sm:mt-2">
          <thead>
            <tr>
              <td>#</td>
              <td>ORDER ID</td>
              <td>BRANCH ID</td>
              <td>ORDER TIME</td>
              <td>STATUS</td>
              <td class="text-center">ACTION</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orders; index as idx" class="cursor-pointer" (click)="get_order_details(item['order_id'])">
              <td>{{idx + 1}}</td>
              <td>{{item['order_id']}}</td>
              <td>{{get_user_name(item['customer_id'])}}</td>
              <td>{{item['order_time']}}</td>
              <td>
                <span class="py-1 px-2 rounded-full text-xs bg-theme-{{item['status'] != 'pending' ? '9' : '12'}} text-white cursor-pointer font-medium">{{item['status']}}</span>
              </td>
              <td class="flex justify-end">
                <button *ngIf="item['status'] == 'pending'" class="button button--sm shadow-md w-24 mr-1 mb-2 bg-theme-9 text-white" (click)="approve_order(item['order_id'])">Approve</button>
                <button class="button button--sm shadow-md w-24 mr-1 mb-2 bg-theme-6 text-white" (click)="delete_order(item['order_id'])">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-span-4">
      <div class="box ml-2 px-3 py-2 mt-4">
        <div class="text-lg mb-3">
          Order details
        </div>
        <div class="grid grid-cols-12 gap-4 row-gap-3">
          <div *ngIf="!selected_order" class="col-span-12">
            Please select an order to see details
          </div>
          <div class="col-span-12" style="max-height: 500px; overflow: auto;">
            <div *ngFor="let item of order_detail; index as idx;">
              <div *ngFor="let _item of globalService.items;">
                <div *ngIf="_item['id'] == item['item_id']">
                  <div class="px-5 py-3 mb-3 flex items-center" style="border: 1px solid #eee; border-radius: 5px;">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                      <img alt="Purchasing system image" src="{{ _item['image'] ? _item['image'] : 'assets/images/place_holder.png' }}">
                    </div>
                    <div class="ml-4 mr-auto" style="max-width: 50%;">
                      <div class="font-medium block truncate">{{_item['vendor_description']}}({{_item['description']}})</div>
                      <div class="text-gray-600 text-xs">{{item.qty}} {{item.qty == 1 ? _item.uom : _item.uom + 's'}}</div>
                    </div>
                    <div class="text-theme-6">Price: {{_item.price != '' && _item.price != 'Market Price' ? '$' + parse_float(parse_float(_item.price) * item.qty) : 'TBD'}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selected_order" class="flex justify-end mx-5 mb-2">
          <span class="text-theme-1 mr-5">Status: <span class="py-1 px-2 rounded-full text-xs bg-theme-{{selected_order ? (selected_order['status'] != 'pending' ? '9' : '12') : ''}} text-white cursor-pointer font-medium">{{selected_order ? selected_order['status'] : ''}}</span></span>
          <span class="text-theme-1 mr-5">Total items: {{order_detail ? order_detail.length : '0'}}</span>
          <span class="text-theme-1 mr-5">CBM: {{sum_total_cbm(order_detail)}} {{cbm_tbded ? '+' : ''}}</span>
          <span class="text-theme-6">Total charge: {{sum_total_price(order_detail) | currency}} {{price_tbded ? '+' : ''}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
