<app-menu></app-menu>
<div class="content">
  <div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto flex">
      Order Management
      <span *ngIf="loading" class="mr-3 absolute" style="left: 170px; top: -8px;">
        <app-loader></app-loader>
      </span>
    </h2>
  </div>
  <div class="tab-content mt-3">
    <div class="tab-content__pane active">
      <div class="grid grid-cols-12 gap-6">
        <div class="intro-y box col-span-12 xl:col-span-8">
          <div class="flex items-center px-5 py-5 sm:py-0 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">
              Latest Orders
            </h2>
            <div class="dropdown relative ml-auto sm:hidden">
              <a class="dropdown-toggle w-5 h-5 block" href="javascript:;"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-700"></i> </a>
              <div class="nav-tabs dropdown-box mt-5 absolute w-40 top-0 right-0 z-20">
                <div class="dropdown-box__content box p-2">
                  <a href="javascript:;" data-toggle="tab" data-target="#new" class="block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md">New</a>
                  <a href="javascript:;" data-toggle="tab" data-target="#old" class="block p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md">Last week</a>
                </div>
              </div>
            </div>
            <div class="nav-tabs ml-auto hidden sm:flex">
              <a data-toggle="tab" data-target="#new" href="javascript:;" class="py-5 ml-6 active">New</a>
              <a data-toggle="tab" data-target="#old" href="javascript:;" class="py-5 ml-6">Last week</a>
            </div>
          </div>
          <div class="p-3">
            <div class="tab-content">
              <div class="tab-content__pane active" id="new">
                <div *ngFor="let item of orders; index as idx" class="flex justify-center items-center pb-2 mb-2 border-b border-gray-200 cursor-pointer">
                  <div class="border-l-2 border-theme-{{item['status'] != 'pending' ? '1' : '12'}} pl-4" (click)="get_order_details(item['order_id'])">
                    <div class="flex">
                      <i data-feather="shopping-cart" class="w-4 h-4 text-blue-700 mr-3" appFeatherIcon></i>
                      <a href="javascript:;" class="font-medium">{{item['order_id']}}</a>
                    </div>
                    <div class="flex text-gray-600">
                      <span><i data-feather="clock" class="w-4 h-4 text-blue-700 mr-3" appFeatherIcon></i></span>
                      <span>{{format_date_time(item['order_time'])}}</span>
                    </div>
                  </div>
                  <div class="ml-auto flex items-center">
                    <div class="md:flex mr-5 hidden" (click)="get_order_details(item['order_id'])">
                      <i data-feather="user" class="w-4 h-4 text-blue-700 mr-2" appFeatherIcon></i>
                      <span class="">{{get_user_name(item['customer_id'])}}( <span class="text-gray-600">{{get_user_email(item['customer_id'])}}</span> )</span>
                    </div>
                    <span class="sm:flex hidden py-1 px-2 mr-8 rounded-full text-xs bg-theme-{{item['status'] != 'pending' ? '9' : '12'}} text-white cursor-pointer font-medium">{{item['status']}}</span>
                    <input class="input input--switch mr-5 border" type="checkbox" [checked]="item.status!='pending'" [disabled]="item.status!='pending'" (change)="approve_order(item['order_id'])">
                    <button class="button button--sm px-2 mr-1 border text-red-700 border-theme-6" (click)="delete_order(item['order_id'])">
                      <span class="w-5 h-5 flex items-center justify-center"> <i data-feather="trash" class="w-4 h-4" appFeatherIcon></i> </span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="tab-content__pane" id="old">

              </div>
            </div>
          </div>
        </div>
        <div class="intro-y box col-span-12 xl:col-span-4">
          <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">
              Order details <span *ngIf="selected_order"> -- {{selected_order['order_id']}} <em>by</em> {{get_user_name(selected_order['customer_id'])}}</span>
            </h2>
            <div class="dropdown relative ml-auto sm:hidden">
              <a class="dropdown-toggle w-5 h-5 block" href="javascript:;"> <i data-feather="more-horizontal" class="w-5 h-5 text-gray-700"></i> </a>
              <div class="dropdown-box mt-5 absolute w-40 top-0 right-0 z-20">
                <div class="dropdown-box__content box p-2">
                  <a href="javascript:;" class="flex items-center p-2 transition duration-300 ease-in-out bg-white hover:bg-gray-200 rounded-md"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Export </a>
                </div>
              </div>
            </div>
            <button class="button border relative flex items-center text-gray-700 hidden sm:flex"> <i data-feather="file" class="w-4 h-4 mr-2"></i> Export </button>
          </div>
          <div class="p-5">
            <div class="relative flex items-center mt-5" *ngIf="!selected_order">
              Please select an order to see details
            </div>
            <div class="relative flex items-center px-2 md:px-5 py-3 mb-3 cursor-pointer" *ngFor="let item of order_detail; index as idx;" style="border: 1px solid #eee; border-radius: 5px;" (click)="select_item(item['item_id'])">
              <ng-template ngFor let-_item [ngForOf]="globalService.items" let-i="index">
                <ng-template [ngIf]="_item['id'] == item['item_id']">
                  <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Purchasing system image" src="{{ _item['image'] ? _item['image'] : 'assets/images/place_holder.png' }}">
                  </div>
                  <div class="ml-4 mr-auto w-3/5 md:w-1/2">
                    <div class="font-medium block truncate">{{_item['vendor_description']}}({{_item['description']}})</div>
                    <div class="text-gray-600 text-xs">{{item.qty}} {{item.qty == 1 ? _item.uom : _item.uom + 's'}}</div>
                  </div>
                  <div class="text-theme-6"><span class="hidden md:inline">Price: </span>{{_item.price != '' && _item.price != 'Market Price' ? '$' + parse_float(parse_float(_item.price) * item.qty) : 'TBD'}}</div>
                </ng-template>
              </ng-template>
            </div>
            <div *ngIf="selected_order">
              <div class="flex mb-1">
                <div class="mr-1">
                  Total items:
                </div>
                <div class="">
                  {{order_detail ? order_detail.length : '0'}}
                </div>
              </div>
              <div class="flex mb-1">
                <div class="mr-1">
                  CBM:
                </div>
                <div class="">
                  {{sum_total_cbm(order_detail) | number}} {{cbm_tbded ? '+' : ''}} (lb)
                </div>
              </div>
              <div class="flex font-bold">
                <div class="mr-1">
                  Total charge:
                </div>
                <div class="text-theme-6">
                  {{sum_total_price(order_detail) | currency}} {{price_tbded ? '+' : ''}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="edit-item-modal">
  <div class="modal__content">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200">
      <h2 class="font-medium text-base mr-auto">
        Order item
      </h2>
    </div>
    <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
      <div class="col-span-12">
        <h4 class="font-bold">Item details</h4>
        <div style="border: 1px solid #eee; border-radius: 5px;" class="py-2 mt-2 mb-2">
          <div class="px-5">{{selected_item ? selected_item['vendor_description'] + '(' + selected_item['description'] + ')' : 'TBD'}}</div>
          <div class="flex mt-1 px-5 justify-between">
            <div>Category: <span class="text-gray-600">{{selected_item ? selected_item['category'] : 'TBD'}}</span></div>
            <div>Unit of measurment: <span class="text-gray-600">{{selected_item ? selected_item['uom'] : 'TBD'}}</span></div>
          </div>
          <div class="flex mt-1 px-5 justify-between">
            <div>Price: <span class="text-gray-600">{{selected_item ? selected_item['price'] : 'TBD'}}</span></div>
            <div>Max order qty: <span class="text-gray-600">{{selected_item && selected_item['moq'] != '' ? selected_item['moq'] : 'TBD'}}</span></div>
          </div>
          <div class="flex mt-1 px-5 justify-between">
            <div>Packing info: <span class="text-gray-600">{{selected_item && selected_item['packing_info'] != '' ? selected_item['packing_info'] : 'TBD'}}</span></div>
            <div>CBM: <span class="text-gray-600">{{selected_item && selected_item['cbm'] != '' ? selected_item['cbm'] : 'TBD'}}</span></div>
          </div>
        </div>
        <div class="w-full border-t border-gray-200 border-dashed my-3"></div>
        <label class="font-bold">Quantity({{selected_item ? selected_item['uom'] : ''}})</label>
        <div class="flex mt-2 flex-1">
          <button type="button" class="button w-12 border bg-gray-200 text-gray-600 mr-1" (click)="decrease_item()">-</button>
          <input type="number" class="input w-full border text-center" placeholder="Item quantity" value="{{qty}}" (change)="manual_input_item($event)">
          <button type="button" class="button w-12 border bg-gray-200 text-gray-600 ml-1" (click)="increase_item()">+</button>
        </div>
      </div>
    </div>
    <div class="px-5 py-3 text-right border-t border-gray-200">
      <button type="button" data-dismiss="modal" class="button w-24 border text-gray-700 mr-1" (click)="reset()">Cancel</button>
      <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white" (click)="update_item()">Add</button>
    </div>
  </div>
</div>
