<app-menu></app-menu>
<div class="content">
  <div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
      Order details and shipment management
    </h2>
  </div>
  <div class="grid grid-cols-12 gap-6">
      <!-- BEGIN: Profile Menu -->
    <div class="col-span-12 lg:col-span-5 xxl:col-span-5 flex lg:block flex-col-reverse">
      <div class="intro-y box mt-5">
        <div class="relative flex items-center p-5">
          <div>
            <div class="font-medium text-base">#{{order_detail['order_ref']}}</div>
            <div class="text-gray-600">{{order_detail['order_time']}}</div>
          </div>
          <div class="ml-auto">
            <div class="font-medium text-base">Type: {{order_detail['order_type']}}</div>
            <div class="text-gray-600">{{order_detail['branch']}}</div>
          </div>
        </div>
        <div class="pb-5 pl-5 pr-5 border-t border-gray-200">
          <div class="mt-5 hover:text-theme-10 cursor-pointer flex
            {{selected_item['inventory_id']  == item['inventory_id'] ? 'font-bold text-theme-1' : ''}}" 
            *ngFor="let item of order_items"
          >
            <a class="flex items-center flex items-center">
              <div class="w-12 h-12 image-fit">
                <img class="rounded-lg" src="{{item['image'] != '' ? item['image'] : 'assets/images/place_holder.png'}}" alt="Purchasing system image"/>
              </div>
              <div class="ml-2">
                <p>{{item.description}}</p>
                <p class="text-gray-600">{{item.vendor_description}}</p>
              </div>
            </a>
            <div class="ml-auto">{{get_approved_qty(item.id)}}/{{item.order_qty}}</div>
          </div>
        </div>
        <div class="p-5 border-t flex">
          <div class="text-theme-9" *ngIf="order_detail['status'] == 'processing'">This order is accepted and under processing. </div>
          <div class="text-theme-12" *ngIf="order_detail['status'] == 'pending'">This order is pending. </div>
          <div class="text-theme-1" *ngIf="order_detail['status'] == 'completed'">This order has been completed. </div>
          <button type="button" class="button w-20 border text-gray-700 ml-auto" (click)="back()">Back</button>
        </div>
      </div>
    </div>
    <!-- END: Profile Menu -->
    <div class="col-span-12 lg:col-span-7 xxl:col-span-7">
      <!-- BEGIN: Personal Information -->
      <div class="intro-y box mt-5">
        <div class="flex items-center p-5 border-b border-gray-200">
          <h2 class="font-medium text-base mr-auto">
              Partial shipments({{partial_shipments.length}})
          </h2>
        </div>
        <div class="pl-5 pr-5">
          <div class="accordion">
            <div *ngFor="let item of partial_shipments" class="accordion__pane border-b border-gray-200 pb-4 pt-4"> 
              <a href="javascript:;" class="accordion__pane__toggle font-medium block">
                <div class="flex">
                  <div class="w-1/2">
                    <p class="font-medium">Ref: {{item.shipment_ref_number}}</p>
                    <p class="text-gray-600">Shipment date: {{item.shipment_date}}</p>
                  </div>
                  <div class="ml-auto">
                    <div class="flex justify-end">
                      <span class="font-bold text-theme-6">{{get_total_shipment_price(item.shipment_id) | currency}}</span>
                    </div>
                    <div class="flex justify-end">
                      <div>
                        <div class="flex items-center" *ngIf="get_total_shipment_cbf(item.shipment_id).frozen != 0">
                          <i data-feather="box" class="text-theme-1 w-4 h-4 mr-2" appFeatherIcon></i>
                          <span class="font-bold text-theme-1">{{get_total_shipment_cbf(item.shipment_id).frozen | number}} lb </span>
                          <span class="text-theme-1 ml-2">({{get_pallet(get_total_shipment_cbf(item.shipment_id).frozen / frozen_cbf_pallet) | number}} pallets)</span>
                        </div>
                        <div class="flex items-center" *ngIf="get_total_shipment_cbf(item.shipment_id).dry != 0">
                          <i data-feather="box" class="text-theme-12 w-4 h-4 mr-2" appFeatherIcon></i>
                          <span class="font-bold text-theme-12">{{get_total_shipment_cbf(item.shipment_id).dry | number}} lb </span>
                          <span class="text-theme-12 ml-2">
                            ({{get_pallet(get_total_shipment_cbf(item.shipment_id).dry / dry_cbf_pallet) | number}} pallets)
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <div class="accordion__pane__content mt-5 text-gray-700 leading-relaxed">
                <div class="mb-2" *ngFor="let _item of order_shipments">
                  <ng-template [ngIf]="_item.shipment_id == item.shipment_id">
                    <div class="w-full flex flex-col lg:flex-row items-center">
                      <div class="w-12 h-12 image-fit">
                        <img class="rounded-lg" src="{{_item['image'] != '' ? _item['image'] : 'assets/images/place_holder.png'}}" alt="Purchasing system image"/>
                      </div>
                      <div class="lg:ml-4 text-center lg:text-left mt-3 lg:mt-0 w-48 truncate">
                        <div class="font-medium">{{_item['description']}}</div> 
                        <div class="text-gray-600 text-xs">{{_item['vendor_description']}}</div>
                      </div>
                      <div class="ml-2">
                        <p class="text-theme-6 text-xs">{{_item.approved_price | currency}}</p>
                        <p class="{{_item.category == 'frozen' ? 'text-theme-1' : 'text-theme-12'}} text-xs">{{_item.cbf | number}}</p>
                      </div>
                      <div class="ml-2">
                        <span class="font-bold">x {{_item.approved_qty}}</span>
                      </div>
                      <div class="ml-2">
                        <span class="rounded-full border {{_item.category == 'frozen' ? 'text-theme-1 border-theme-1' : 'text-theme-12 border-theme-12'}} text-xs p-1">{{_item.category}}</span>
                      </div>
                      <div class="ml-auto w-40 flex justify-end">
                        <div>
                          <p class="text-theme-6">{{_item.approved_price * _item.approved_qty | currency}}</p>
                          <p class="{{_item.category == 'frozen' ? 'text-theme-1' : 'text-theme-12'}}">{{_item.cbf * _item.approved_qty | number}} (lb)</p>
                        </div>
                        <div>
                          <button *ngIf="_item.item_status != 'accepted'" class="button button--sm rounded-full ml-2 mb-2 bg-theme-1 text-white" (click)="accept_item(_item)">Accept</button>
                          <button *ngIf="_item.item_status == 'accepted'" class="button button--sm rounded-full ml-2 mb-2 border border-theme-9 text-theme-9">Accepted</button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
         </div>
        </div>
      </div>
      <!-- END: Personal Information -->
    </div>
  </div>
</div>